{% extends 'VisualiserBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <img width='100%' src='{{ asset('images/d3js.png') }}'>

    <div class="row">
      <div class="col-md-6">
        <p><img width='100%' src='{{ asset('images/d3js.png') }}'></p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-6">
        <p><p><img width='100%' src='{{ asset('images/d3js.png') }}'></p></p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
     </div>
    </div>
<p>INPUT FORM SCAFFOLD BUILDS HERE</p>
</div>
{% endblock %}
