{% extends 'VisualiserBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <img width='50%' src='{{ asset('images/google-charts-logo.jpg') }}'>
    <p>
		This page has several objectives. Firstly two containers will be built below, with Google Chart
		objects rendered with a script called by Symfony. These will contain static demo data.
	</p>
	<p>
		The next target is to write two containers with an API feed built into them. So, every time you load the
		page, the framework will load a custom API class using Guzzle to read/write to the chart.
	</p>
	<p>
		And finally, a Symfony built form will be rendered that will control the chart via. my class, JSON and Guzzle.
		All I can say at this point is holy shit, I can't wait to do some OAuth stuff.
	</p>
		</br>
		</br>
    </p>
    
    <div class="row">
		<div class="col-md-6">
			<h3>Container 1: Currently GC Geo Render with demo data</h3>
			<div id="regions_div" style="width: 100%; height: 300px;"></div>
		</div>
		<div class="col-md-6">
			<h3>Container 2: Currently GC Stacked Bar Render with demo data</h3>
			<div id="stacked_div" style="width: 100%; height: 300px;"></div>
		</div>
    </div>
    
        <div class="row">
		<div class="col-md-6">
			<h3>Container 3: Donut with Dummy Data</h3>
				<div id="donutchart" style="width: 100%; height: 300px;"></div>
				<p>This will also have architecture to be service based</p>
		</div>
		<div class="col-md-6">
			<h3>Container 4: VARIABLE CHART</h3>
				<p>Donut chart that will use some form of API data.</p>
				<p>First thought here is to have charts representing Linux Distribution statistics</p>
		</div>
    </div>
    
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="{{ asset('js/gcharts.js') }}"></script>
{% endblock %}


