{% extends 'visualiserBundle::base.html.twig' %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>Visualiser:</h1>
    <br>
    <h4>- Symfony2</h4>
    <h4>- Bootstrap</h4>
    <h4>- Unknown API Data Source </h4>
    <h4>- Google Charts</h4>
    <h4>- d3js</h4>
    <h4>- HighCharts</h4>
    <h4>- Customised Dashboard</h4>
  </div>

  <div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Google Charts</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>d3js: Javascript Data Driven Documents</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>HighCharts</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
  <hr>

  <footer>
    <p>&copy; James Seconde, {{ "now"|date("Y") }}</p>
  </footer>
</div>
{% endblock %}
