{% extends 'visualiserBundle::base.html.twig' %}

{% block body %}
<div class="container">
  <div class="jumbotron">
  <h1>Visualiser: An micro app to extract and visualise data from SDKs/APIs freely available.</h1>
</div>
  <br>
  <h2>This micro app has several objectives:</h2>

  <ul>
  <li>1. Integrate this page into Bootstrap and display some lovely UX widgets.</li>
  <li>2. Take 2 data sources statically and create visualisations for them.</li>
  <li>3. Import a mapped data source manually and map it.</li>
  <li>4. Create a data processor service.</li>
  </ul>
</div>
{% endblock %}
