{% extends 'visualiserBundle::base.html.twig' %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>Visualiser:</h1>
    <br>
    <h3>A portfolio Application by James Seconde to take freely available API data and render it
      in several popular Javascript libraries.
    </h4>
    <p>This Application is built to demonstrate competencies in several technologies, including:
      Symfony2 PHP Application framework, Service-Based Architecture, Strategy and Factory software
      design patterns and Javascript Visualisation libraries.</p>
  </div>

  <div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Google Charts</h2>
      <p><img width='100%' src='{{ asset('images/google-charts-logo.jpg') }}'></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>d3js</h2>
      <p><p><img width='100%' src='{{ asset('images/d3js.png') }}'></p></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>HighCharts</h2>
      <p><p><img width='100%' src='{{ asset('images/tech-highcharts.png') }}'></p></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
  <hr>

  <footer>
    <p>&copy; James Seconde, {{ "now"|date("Y") }}</p>
  </footer>
</div>
{% endblock %}
