{% extends 'VisualiserBundle::base.html.twig' %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>ToDo List</h1>
  </div>
  <p>As the Application is a target-led, Agile like development process, this todo serves as part of those
    goals. One of the goals has been completed, with Symfony routing and Javascript integration forming the
    skeleton. This page serves to accomplish another, in serving content dynamically without the use of a
    database engine.
  </p>
  <p>
    There are two parts to this before the JS todo list is enabled: one is the menu system needs to be dynamic (at the
    moment it's static) and the second part is the todo list. I will attempt to store and render data for these
    using JSON.
  </p>
</div>
{% endblock %}
