{% extends 'VisualiserBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <div style="text-align:center"><img width='20%' src='{{ asset('images/zoopla.jpg') }}'></div>
    <h3>
		Zoopla Showcase Dashboard
	</h3>
	<p>
		This Dashboard under construction will contain data from the Zoopla API, which will
		then be rendered using all three of the Javascript libraries.
	</p>
		</br>
		</br>
    </p>
    
    <div class="row">
		<div class="col-md-6">
			<h3>Google Charts: Average Rental Data</h3>
			<div id="average_rents_5_gc" style="width: 100%; height: 300px;"></div>
		</div>
		<div class="col-md-6">
			<h3>HighCharts: Average Rental Data</h3>
			<div id="average_rents_5_hc" style="width: 100%; height: 300px;"></div>
		</div>
    </div>
    
	<div class="row">
		<div class="col-md-6">
			<h3>Scaffold:Container 3:Data</h3>
		</div>
		<div class="col-md-6">
			<h3>Scaffold:Container 4:Data</h3>
		</div>
    </div>
	<img src="https://www.zoopla.co.uk/static/images/mashery/powered-by-zoopla-150x73.png" width="150" height="73" title="Property information powered by Zoopla" alt="Property information powered by Zoopla" border="0">
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
		google.charts.load('current', {'packages':['bar']});
		google.charts.setOnLoadCallback(drawAverageRentChart);

		function drawAverageRentChart() {
			var data = google.visualization.arrayToDataTable({{ payload|json_encode()|raw }});

			var options = {
			  chart: {},
			  legend: {position: 'none'}
			};

			var chart = new google.charts.Bar(document.getElementById('average_rents_5_gc'));

			chart.draw(data, options);
		}
	</script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script>
		$(function () { 
			var myChart = Highcharts.chart('average_rents_5_hc', {
				chart: {
					type: 'bar'
				},
				title: {
					text: 'Average Rent 2 Bed Flats'
				},
				xAxis: {
					categories: ['Birmingham', 'Manchester', 'Bristol', 'Nottingham', 'Leeds']
				},
				yAxis: {
					title: {
						text: 'Price Per Week'
					}
				},
				series: [{
					name: 'Rent Price',
					data: [452, 230, 398, 523, 338]
				}]
			});
		});
	</script>
{% endblock %}


